[submodule "emacs/magit"]
	path = emacs/modules/magit
	url = https://github.com/magit/magit
[submodule "emacs/dtrt-indent"]
	path = emacs/modules/dtrt-indent
	url = https://github.com/jscheid/dtrt-indent
	ignore = untracked
[submodule "emacs/virtual-desktops.el"]
	path = emacs/modules/virtual-desktops
	url = https://github.com/JulienMasson/virtual-desktops.el
	ignore = untracked
	branch = master
[submodule "emacs/auto-complete"]
	path = emacs/modules/auto-complete
	url = https://github.com/auto-complete/auto-complete
	ignore = untracked
[submodule "emacs/erc-nick-notify"]
	path = emacs/modules/erc-nick-notify
	url = https://github.com/emacsmirror/erc-nick-notify
	ignore = untracked
[submodule "emacs/purple"]
	path = emacs/modules/purple
	url = https://github.com/JulienMasson/purple
	ignore = untracked
	branch = master
[submodule "emacs/popup-el"]
	path = emacs/modules/popup-el
	url = https://github.com/auto-complete/popup-el
	ignore = untracked
[submodule "emacs/status"]
	path = emacs/modules/status
	url = https://github.com/JulienMasson/status
	ignore = untracked
	branch = master
[submodule "emacs/browse-kill-ring"]
	path = emacs/modules/browse-kill-ring
	url = https://github.com/browse-kill-ring/browse-kill-ring
	ignore = untracked
[submodule "emacs/modules/offlineimap.el"]
	path = emacs/modules/offlineimap
	url = https://github.com/jd/offlineimap.el.git
	ignore = untracked
[submodule "bash/bash-git-prompt"]
	path = bash/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "emacs/modules/log-tools"]
	path = emacs/modules/log-tools
	url = https://github.com/JulienMasson/log-tools.git
	ignore = untracked
	branch = master
[submodule "emacs/modules/project-manager"]
	path = emacs/modules/project-manager
	url = https://github.com/JulienMasson/project-manager.git
	ignore = untracked
	branch = master
[submodule "emacs/modules/gerrit"]
	path = emacs/modules/gerrit
	url = https://github.com/jeremy-compostella/gerrit.git
	ignore = untracked
[submodule "emacs/modules/device-control"]
	path = emacs/modules/device-control
	url = https://github.com/JulienMasson/device-control.git
	ignore = untracked
	branch = master
[submodule "emacs/modules/dash"]
	path = emacs/modules/dash
	url = https://github.com/magnars/dash.el.git
	ignore = untracked
[submodule "emacs/predictive"]
	path = emacs/modules/predictive
	url = http://www.dr-qubit.org/git/predictive.git
	ignore = dirty
	ignore = untracked
[submodule "emacs/modules/bbdb"]
	path = emacs/modules/bbdb
	url = https://github.com/emacsmirror/bbdb.git
[submodule "emacs/modules/with-editor"]
	path = emacs/modules/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "emacs/modules/xcscope"]
	path = emacs/modules/xcscope
	url = https://github.com/JulienMasson/xcscope.el.git
[submodule "awesome/blingbling"]
	path = awesome/blingbling
	url = https://github.com/JulienMasson/blingbling.git
[submodule "awesome/vicious"]
	path = awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule "emacs/modules/lua-mode"]
	path = emacs/modules/lua-mode
	url = https://github.com/immerrr/lua-mode.git
