[submodule "emacs/magit"]
	path = emacs/modules/magit
	url = https://github.com/magit/magit
[submodule "emacs/dtrt-indent"]
	path = emacs/modules/dtrt-indent
	url = https://github.com/jscheid/dtrt-indent
[submodule "emacs/virtual-desktops.el"]
	path = emacs/modules/virtual-desktops
	url = https://github.com/chep/virtual-desktops.el
[submodule "emacs/auto-complete"]
	path = emacs/modules/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "emacs/emacs-ac-etags"]
	path = emacs/modules/emacs-ac-etags
	url = https://github.com/syohex/emacs-ac-etags
[submodule "emacs/ac-math"]
	path = emacs/modules/ac-math
	url = https://github.com/vspinu/ac-math.git
[submodule "emacs/emacs-bash-completion"]
	path = emacs/modules/emacs-bash-completion
	url = https://github.com/szermatt/emacs-bash-completion
[submodule "emacs/c-eldoc"]
	path = emacs/modules/c-eldoc
	url = https://github.com/mooz/c-eldoc
[submodule "emacs/erc-nick-notify"]
	path = emacs/modules/erc-nick-notify
	url = https://github.com/emacsmirror/erc-nick-notify
[submodule "emacs/auto-complete-auctex"]
	path = emacs/modules/auto-complete-auctex
	url = https://github.com/monsanto/auto-complete-auctex
[submodule "emacs/predictive"]
	path = emacs/modules/predictive
	url = http://www.dr-qubit.org/git/predictive.git
[submodule "emacs/purple"]
	path = emacs/modules/purple
	url = https://github.com/jeremy-compostella/purple
[submodule "emacs/w3m"]
	path = emacs/modules/w3m
	url = https://github.com/emacsmirror/w3m
[submodule "emacs/xcscope.el"]
	path = emacs/modules/xcscope
	url = https://github.com/dkogan/xcscope.el
[submodule "emacs/popup-el"]
	path = emacs/modules/popup-el
	url = https://github.com/auto-complete/popup-el
[submodule "emacs/magit-filenotify"]
	path = emacs/modules/magit-filenotify
	url = https://github.com/magit/magit-filenotify
[submodule "emacs/git-modes"]
	path = emacs/modules/git-modes
	url = https://github.com/magit/git-modes
[submodule "emacs/wanderlust"]
	path = emacs/modules/wanderlust
	url = https://github.com/wanderlust/wanderlust
[submodule "emacs/status"]
	path = emacs/modules/status
	url = https://github.com/JulienMasson/status
[submodule "emacs/apt-utils-ido"]
	path = emacs/modules/apt-utils-ido
	url = https://github.com/vapniks/apt-utils-ido
[submodule "emacs/ac-c-headers"]
	path = emacs/modules/ac-c-headers
	url = https://github.com/zk-phi/ac-c-headers
[submodule "emacs/auctex"]
	path = emacs/modules/auctex
	url = https://github.com/emacsmirror/auctex
[submodule "emacs/browse-kill-ring"]
	path = emacs/modules/browse-kill-ring
	url = https://github.com/browse-kill-ring/browse-kill-ring
[submodule "emacs/latex-extra"]
	path = emacs/modules/latex-extra
	url = https://github.com/Bruce-Connor/latex-extra/
[submodule "emacs/magic-latex-buffer"]
	path = emacs/modules/magic-latex-buffer
	url = https://github.com/zk-phi/magic-latex-buffer
[submodule "emacs/yasnippet"]
	path = emacs/modules/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "emacs/shell-history"]
	path = emacs/modules/shell-history
	url = https://github.com/emacsmirror/shell-history
[submodule "emacs/modules/math-symbol-lists"]
	path = emacs/modules/math-symbol-lists
	url = https://github.com/vspinu/math-symbol-lists
[submodule "emacs/modules/offlineimap.el"]
	path = emacs/modules/offlineimap
	url = https://github.com/jd/offlineimap.el.git
[submodule "emacs/modules/org-wl"]
	path = emacs/modules/org-wl
	url = https://github.com/JulienMasson/org-wl
[submodule "bash/bash-git-prompt"]
	path = bash/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
